<div class="banner" aria-label="banner screen">
    <img src="./images/bannerimage.png"  class="banner__image" aria-labelledby="bnRecipe bnRecipedtl" >
    <section class="banner__recipedescription">
        <div class="banner__rightcontainer">
            <h2 class="banner__latestrecipe">
                LATEST RECIPE
            </h2>
            <h3 id="bnRecipe" class="banner__recipe">
                Baked Polenta with Cheese and Mushrooms.
            </h3>
            <p id="bnRecipedtl"class="banner__recipedetails">
                Polenta, goat cheese, Italian sausage, and cremini mushrooms. All together this will make for pretty darn good side dish
                to a lovely salad. Go for it.
            </p>
        </div>
        <div class="banner__leftcontainer">
            <button class="btn  submit--Recipes" aria-label="go to recipe" type="submit">Go to recipe
                <i class="banner__rightarrow"></i>
            </button>
        </div>
    </section>
</div>