<footer class="footer" aria-label="this is footer">
    <div class="footer__container">
        <div class="footer__sections footer--recipes">
            <span class="footer__header" aria-labelledby="ftOurrecipe">Our Recipes</span>
            <p id="ftOurrecipe" class="footer__description">All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen at home. We know
                many of you are concerned about healthy eating, so we send them to a qualified nutritionist for thorough
                analysis too.
            </p>
            <a class="footer__link" href="javascript:void(0);" title="Browse recipes">Browse our recipes now</a>
        </div>
        <div class="footer__sections footer--history">
            <span class="footer__header" aria-labelledby="fthistory">Grilled Praw’s History</span>
            <p id="fthistory" class="footer__description">The Grilled Prawn is a fictional food blog created in January 2015.
            </p>
        </div>
        <div class="footer__sections footer--tips">
            <span class="footer__header" aria-label="fttips">Tips and Tricks</span>
            <p id="fttips" class="footer__description">Not sure how to do something? Don’t panic. We have plenty of tutorials for you.
            </p>
            <a class="footer__link" href="javascript:void(0);" title="Browse recipes">Learn more</a>
        </div>
        <div class="footer__sections footer--contact">
            <span  class="footer__header" aria-label="fthelp1 fthelp2">Help and Contact</span>
            <p id="fthelp1" class="footer__description">Struggling with one of the recipes?
            </p>
            <a class="footer__link" href="javascript:void(0);" title="Browse recipes">Send us an email</a>
            <p id="fthelp2" class="footer__description mrg-tp--0px">We are always happy to try new things, send us your suggestions
            </p>
            <a class="footer__link" href="javascript:void(0);" title="Browse recipes">Fill in the form</a>
        </div>
        <div class="footer__sections footer--about">
            <p class="footer__description mrg-tp--0 font--12px" aria-labelledby="ftdesc1 ftdesc2">© The Grilled Prawn
            </p>
            <p id="ftdesc1" class="footer__description mrg-tp--15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus quis interdum viverra, erat
                mi consectetur mi, a fringilla odio risus vel augue. Mauris tempor ligula fringilla magna iaculis, non
                vulputate tellus interdum.</p>
            <p id="ftdesc2" class="footer__description mrg-tp--15">
                The images and recipes ideas were taken from spoonforkbacon.com and the icons from Google Material Icons.
            </p>
        </div>
    </div>
</footer>