<header class="navigation">
    <div class="navigation__container">
        <div class="navigation__leftcontainer">
            <h1 class="navigation__logocontext" aria-label="grilled prawn logo">
                <a class="navigation__logo" href="javascript:void(0);" title="Grilled Prawn">Grilled Prawn</a>
            </h1>
            <p class="navigation__title" aria-label="the griled prawn">The Grilled Prawn</p>
        </div>
        <div class="navigation__rightcontainer">
            <ul class="navigation__list" aria-label="main navigation">
                <li class="navigation__items">
                    <a class="navigation__item item--active" href="javascript:void(0);" aria-expanded="false" aria-selected="true" title="RECIPES">RECIPES</a>
                </li>
                <li class="navigation__items" >
                    <a class="navigation__item" href="javascript:void(0);" aria-expanded="false" title="DRINK">DRINK</a>
                </li>
                <li class="navigation__items" >
                    <a class="navigation__item" href="javascript:void(0);" aria-expanded="false" title="DECORATIONS">DECORATIONS</a>
                </li>
                <li class="navigation__items mrg-rt--0" >
                    <a class="navigation__item" href="javascript:void(0);" aria-expanded="false" title="ABOUT THE GRILLED PRAWN">ABOUT THE GRILLED PRAWN</a>
                </li>
            </ul>
        </div>
    </div>
</header>