<main class="menu">
    <div class="menu__card" aria-label="this is menu card">
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">5TH MARCH 2016</span>
                    <span class="menu__dishtype">THAI</span>
                </div>
                <div class="menu__content">
                    Thai Yellow Curry Noodles with Shiitake Mushrooms
                </div>
            </div>
            <img src="./images/recipe__2.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">17TH MARCH 2016</span>
                    <span class="menu__dishtype">ITALIAN</span>
                </div>
                <div class="menu__content">
                    Cappellini with Cherry Tomatoes and Fresh Basil
                </div>
            </div>
            <img src="./images/recipe__3.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">4TH APRIL 2016</span>
                    <span class="menu__dishtype">ITALIAN</span>
                </div>
                <div class="menu__content">
                    Baked Turkey Sausage and Mascarpone Stuffed Shells
                </div>
            </div>
            <img src="./images/recipe__4.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">24TH MAY 2016</span>
                    <span class="menu__dishtype">ITALIAN</span>
                </div>
                <div class="menu__content">
                    Caramelised Apple and Herb Fiocchi
                </div>
            </div>
            <img src="./images/recipe__5.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">25TH MAY 2016</span>
                    <span class="menu__dishtype">SPANISH</span>
                </div>
                <div class="menu__content">
                    Pumpkin Beer Cheese Soup
                </div>
            </div>
            <img src="./images/recipe__6.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">22TH SEPTEMBER 2016</span>
                    <span class="menu__dishtype">THAI</span>
                </div>
                <div class="menu__content">
                    Yum Woon Sen with Shrimp (Glass noodle salad with Shrimp)
                </div>
            </div>
            <img src="./images/recipe__7.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">14TH OCTOBER 2016</span>
                    <span class="menu__dishtype">THAI</span>
                </div>
                <div class="menu__content">
                    Beef Satay
                </div>
            </div>
            <img src="./images/recipe__8.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">29TH OCTOBER 2016</span>
                    <span class="menu__dishtype">FRENCH</span>
                </div>
                <div class="menu__content">
                    Creamy French Onion Soup Dip in a Bread Bowl
                </div>
            </div>
            <img src="./images/recipe__9.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">11TH NOVEMBER 2016</span>
                    <span class="menu__dishtype">SPANISH</span>
                </div>
                <div class="menu__content">
                    Bocadillo Bites
                </div>
            </div>
            <img src="./images/recipe__10.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">12TH NOVEMBER 2016</span>
                    <span class="menu__dishtype">SPANISH</span>
                </div>
                <div class="menu__content">
                    Paella
                </div>
            </div>
            <img src="./images/recipe__11.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">24TH DECEMBER 2016</span>
                    <span class="menu__dishtype">THAI</span>
                </div>
                <div class="menu__content">
                    Spicy black Bean Burger
                </div>
            </div>
            <img src="./images/recipe__12.png" class="menu__image" alt="menu">
        </article>
        <article class="menu__item">
            <div class="menu__description">
                <div class="menu__heading">
                    <span class="menu__date">9TH JANUARY 2017</span>
                    <span class="menu__dishtype">ITALIAN</span>
                </div>
                <div class="menu__content">
                    Fresh Fig and Pistachio Salad
                </div>
            </div>
            <img src="./images/recipe__1.png" class="menu__image" alt="menu">
        </article>
    </div>
    </div>
    <div class="menu__footer">
        <a class="menu__backtotop" href="#" title="back to top">
            <span class="menu__movetotop">Return to the top</span> 
            <img src="./images/up_arrow.png" class="menu__arrowimage" alt="return to top">
        </a>
    </div>
</main>